.walletconnect-modal__base {
    max-width: 400px !important;
}

.mint-form-container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.connect-wallet-btn {
    font-family: 'Monument Extended', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #6c3ba9;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.connect-wallet-btn:hover {
    background-color: #572c8d;
    color: gray;
}

.nft-input-el {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    padding: 5px;
    margin: 0;
    font-size: 18px;
}

.wallet-alternative-name:before {
    content: "";
    display: inline-block;
    height: 106%;
    vertical-align: middle;
}

.wallet-alternative {
    width: 80%;
    height: 70px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}

.wallet-alternative:hover {
    background-color: #f5f5f5;
}

.wallet-alternative img {
    height: 100%;
    width: 40px;
    height: 40px;
    float: left;
    display: inline;
}

.wallet-alternative .wallet-alternative-name {
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: bottom;
    display: inline
}

#nft-mint-amount-text {
    display: block;
    margin: auto;
    width: 100%;
    font-family: 'Monument Extended', sans-serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 10px;
    background: white;
    color: black;
}

#nft-mint-amount-text::selection {
    background: transparent;
    color: black;
}

#nft-mint-amount-input-container {
    margin: 0 auto;
    width: 50%;
    position: relative;
}

#nft-mint-button {
    font-family: 'Monument Extended', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #6c3ba9;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#nft-mint-amount-minus {
    transform: rotate(90deg);
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    cursor: pointer;
}

#nft-mint-amount-plus {
    transform: rotate(-90deg);
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #nft-mint-amount-input {
        width: 190px;
    }
    #nft-mint-amount-input-container {
        width: 200px;
    }
    .wallet-alternative .wallet-alternative-name {
        font-size: 0.7rem;
    }
}

.mint-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nft-modal {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.1s, opacity 0.3s ease;
    font-family: 'Roboto', Arial, sans-serif;
    z-index: 1000000;
}

.nft-modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.nft-modal-title {
    padding-left: 10px;
}

.nft-modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-modal-content {
    display: inline-block;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* min-width: 500px; */
    max-width: 100%;
    /* border-radius: 10px; */
    /* border: 1px solid #ccc; */
}

.nft-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 21;
    background-color: rgba(0, 0, 0, 0.7);
}

.nft-modal-close {
    position: absolute;
    right: 20px;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    color: #747474;
}

.nft-modal-content .nft-modal-close {
    top: 50%;
    transform: translate(-50%, -50%);
}

.nft-modal-close:hover {
    color: #000;
    cursor: pointer;
}

.nft-modal-container {
    position: relative;
    z-index: 22;
    width: auto;
    max-width: 700px;
    top: 35%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #fff;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    /* border-radius: 10px; */
}

.nft-modal-stage-loading {
    animation: 0.75s linear 0s infinite normal none running rotate;
    transform-origin: 16px 16px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}